## Create a table

In [235]:
import numpy as np

In [178]:
string = ["My name is Andrii", "Hi", "Hellow world", "Hawaii", "Sergio is great"]

In [179]:
string

['My name is Andrii', 'Hi', 'Hellow world', 'Hawaii', 'Sergio is great']

In [237]:
sorted_string  = sorted(string, key = len)
sorted_string

['Hi', 'Hawaii', 'Hellow world', 'Sergio is great', 'My name is Andrii']

In [177]:
# Table: first column - list of strigs
# Second column - number of characters 
# Random integer (int)
#
#

"""
'Hi',               2    9
'Hawaii',           6    4
'Hellow world',     12   0
'Sergio is great', 
'My name is Andrii'



"""

In [239]:
row2 = [len(x) for x in sorted_string]
row2

[2, 6, 12, 15, 17]

In [242]:
row3 = [np.random.randint(0,9) for x in sorted_string]
row3

[3, 1, 0, 4, 0]

In [243]:
table = [sorted_string,row2,row3]

In [244]:
np.transpose(table)

array([['Hi', '2', '3'],
       ['Hawaii', '6', '1'],
       ['Hellow world', '12', '0'],
       ['Sergio is great', '15', '4'],
       ['My name is Andrii', '17', '0']], dtype='<U21')

In [231]:
table2 = [sorted([s for s in string],key = len),sorted([len(s) for s in string]),[np.random.randint(0,9) for s in string]]

In [232]:
T2 = np.array(table2).T

In [206]:
import pandas as pd

In [233]:
df = pd.DataFrame(T2)

In [234]:
df

                   0   1  2
0                 Hi   2  2
1             Hawaii   6  7
2       Hellow world  12  1
3    Sergio is great  15  8
4  My name is Andrii  17  0

In [210]:
df.to_csv('Data.csv')