In [178]:
string = ["My name is Andrii", "Hi", "Hellow world", "Hawaii", "Sergio is great"]

In [179]:
string

['My name is Andrii', 'Hi', 'Hellow world', 'Hawaii', 'Sergio is great']

In [216]:
my_set = {"My name is Andrii", "Hi", "Hellow world", "Hawaii", "Sergio is great"}

In [217]:
my_set

{'Hawaii', 'Hellow world', 'Hi', 'My name is Andrii', 'Sergio is great'}

In [186]:
import numpy as np

In [175]:
sorted(nums, key=len)

['Hi', 'Hawaii', 'Hellow world', 'Sergio is great', 'My name is Andrii']

In [177]:
# Table: first column - list of strigs
# Second column - number of characters 
# Random integer (int)
#
#

In [ ]:
"""
'Hi',               2    9
'Hawaii',           6    4
'Hellow world', 
'Sergio is great', 
'My name is Andrii'



"""

In [182]:
column1 = [x for x in string]

In [184]:
column2 = [len(x) for x in string]

In [185]:
[len(x) for x in string]

[17, 2, 12, 6, 15]

In [192]:
np.random.randint(0,9)

5

In [193]:
column3 = [ np.random.randint(0,9) for x in string]

In [194]:
column3

[2, 5, 0, 7, 1]

In [203]:
table = [column1,column2,column3]

In [204]:
T = np.array(table).T

In [231]:
table2 = [sorted([s for s in string],key = len),sorted([len(s) for s in string]),[np.random.randint(0,9) for s in string]]

In [232]:
T2 = np.array(table2).T

In [206]:
import pandas as pd

In [233]:
df = pd.DataFrame(T2)

In [234]:
df

                   0   1  2
0                 Hi   2  2
1             Hawaii   6  7
2       Hellow world  12  1
3    Sergio is great  15  8
4  My name is Andrii  17  0

In [210]:
df.to_csv('Data.csv')